body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 1.42857143;
    color: #fff;
    background-color: #333;
}

.div {
	margin: auto;
    width: 50%;
}

.button {
    align-items: center;
    align-self: center;
    background-color: #3395e8;
    border-bottom-style: solid;
    border-color: #3395e8;
    border-left-style: solid;
    border-radius: 100px;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    height: 50px;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}